[submodule "vendor/SVPullToRefresh"]
	path = vendor/SVPullToRefresh
url=git@github.com:zwzmzd/SVPullToRefresh.git
[submodule "vendor/MTStatusBarOverlay"]
	path = vendor/MTStatusBarOverlay
	url = git@github.com:myell0w/MTStatusBarOverlay.git
[submodule "vendor/SVProgressHUD"]
	path = vendor/SVProgressHUD
	url = git@github.com:samvermette/SVProgressHUD.git
[submodule "vendor/MBProgressHUD"]
	path = vendor/MBProgressHUD
	url = git@github.com:jdg/MBProgressHUD.git
[submodule "vendor/SSKeychain"]
	path = vendor/SSKeychain
	url = git@github.com:soffes/sskeychain.git
[submodule "vendor/WKVerticalScrollBar"]
	path = vendor/WKVerticalScrollBar
	url = git@github.com:litl/WKVerticalScrollBar.git
[submodule "vendor/CKCalendar"]
	path = vendor/CKCalendar
	url = git@github.com:jaykz52/CKCalendar.git
[submodule "vendor/EGOCache"]
	path = vendor/EGOCache
	url = git@github.com:enormego/EGOCache.git
[submodule "vendor/fmdb"]
	path = vendor/fmdb
	url = git@github.com:ccgus/fmdb.git
[submodule "vendor/Hpple"]
	path = vendor/Hpple
	url = git@github.com:topfunky/hpple.git
[submodule "vendor/AFNetworking"]
	path = vendor/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
[submodule "vendor/OLImageView"]
	path = vendor/OLImageView
	url = git@github.com:ondalabs/OLImageView.git
