<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link  href="/otsweb/css/style.css" rel="stylesheet"  type="text/css"/>
    <link  href="/otsweb/css/newsty.css" rel="stylesheet"  type="text/css"/>
    <link  href="/otsweb/css/contact.css" rel="stylesheet"  type="text/css"/>
    <link  href="/otsweb/css/validation.css" rel="stylesheet" type="text/css" />
    <title>订单支付</title>
    <script type="text/javascript">
        //<![CDATA[
        
        var updateWithLeaseTime = function(leaseTime) {
            var leaseTimeMinute = Math.floor(leaseTime / 60);
            var leaseTimeSecond = leaseTime - leaseTimeMinute * 60;
            
            var node = document.getElementById('ShowTime');
            node.innerHTML = '支付订单剩余时间：<strong>' + leaseTimeMinute + '分' + leaseTimeSecond + '秒</strong>';
        }
        
        var updateViewEverySecond = function(leaseTimeNow) {
            updateWithLeaseTime(leaseTimeNow);
            var leaseTimeForNextSecond = leaseTimeNow - 1;
            window.setTimeout('updateViewEverySecond(' + leaseTimeForNextSecond + ')', 1000);
        }
        
        window.onload = function() {
//            var leaseTime = parseInt((loseTime - beginTime) / 1000);
//            updateViewEverySecond(leaseTime);

            var epayForm = document.getElementById('epayForm');
            epayForm.onsubmit = function() {
                var epay_entry = document.getElementById('epay-entry');
                epay_entry.setAttribute('value', '正在加载，请稍后');
                epay_entry.setAttribute('disabled', 'disabled');
                return true;
            }
            
            var button = document.getElementById('epay-entry');
            button.onclick = function() {
                var epayForm = document.getElementById('epayForm');
                epayForm.submit();
            }
        }
        //]]>
    </script>
</head>
<body>
    <div>
        <span style="font-size:15pt">待支付金额</span>&nbsp;&nbsp;&nbsp;&nbsp;<span style="color:red;font-size:18pt;font-weight:bold">%@</span>
    </div>
    <div class="conWrap">
        <hr />
        <div style="float:left">
            <form action="%@" method="post">
                %@
                <input type="submit" value="电脑版支付" />
            </form>
        </div>
        <div style="float:right">
            <form id="epayForm" action="https://epay.12306.cn/pay/wapPayGateway" method="post">
                %@
            </form>
            <button id="epay-entry">手机支付（推荐)</button>
        </div>
        <br class="clear:both" />
    </div>
    <div>
        <p>提示：请在支付完成后，点击<span style="color:blue">左上角箭头</span>返回，并点击“<span style="color:blue">查看支付结果</span>”。</p>
    </div>
</body>
</html>
